.mypage-report-card {
  .mypage-report-card-container {
    padding: 10px;
    border: 1px solid var(--basic-color);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 4px 4px 4px 4px;

    .mypage-report-card-upper {
      display: flex;
      justify-content: space-between;
      align-items: start;

      .mypage-report-card-info {
        .mypage-report-card-info-reportType {
          padding: 4px 0px;
          display: flex;
          align-items: center;
          .mypage-report-card-info-reportType-button {
            font-size: 12px;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            outline: none;
            color: #fff;
          }
          .mypage-report-card-info-reportType-button.lewd {
            background-color: orange;
          }
          .mypage-report-card-info-reportType-button.violence {
            background-color: red;
          }
          .mypage-report-card-info-reportType-button.abuse {
            background-color: violet;
          }
          .mypage-report-card-info-reportType-button.etc {
            background-color: blue;
          }

          .mypage-report-card-info-reportType-dropdown {
            cursor: pointer;
            margin-left: 5px;
            font-size: 18px;
            transform: rotate(0deg);
            transition: transform 0.2s ease-in-out;
          }

          .mypage-report-card-info-reportType-dropdown.active {
            cursor: pointer;
            margin-left: 5px;
            font-size: 18px;
            transform: rotate(180deg);
            transition: transform 0.2s ease-in-out;
          }
        }

        .mypage-report-card-info-reportId {
          font-size: 13px;
          padding: 4px 0px;
          display: flex;
          gap: 5px;
          .mypage-report-card-info-reportId-title {
            width: 100px;
          }
          .mypage-report-card-info-reportId-detail {
            width: 120px;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .mypage-report-card-info-date {
          font-size: 12px;
          padding: 4px 0px;
          display: flex;
          gap: 5px;
        }
      }

      .mypage-report-card-btn {
        position: relative;
        button {
          font-size: 13px;
          border: none;
          border-radius: 10px;
          padding: 7px;
          background-color: var(--basic-color);
          color: #fff;
          cursor: default;
        }
      }
    }

    .mypage-report-card-lower {
      visibility: hidden;
      max-height: 0px;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    .mypage-report-card-lower.active {
      visibility: visible;
      max-height: 100px;
      opacity: 1;
      transition: all 0.2s ease-in-out;

      .mypage-report-card-lower-container {
        border-top: 1px solid #ccc;
        margin-top: 10px;
        padding-top: 10px;

        .mypage-report-card-lower-title {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .mypage-report-card-lower-detail {
          font-size: 12px;
        }
      }
    }
  }
}
