.mypage-search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .mypage-search-field {
    position: relative;
    width: 120px;
    .mypage-search-field-title {
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 10px 0 0 10px;
      padding: 7px;
      text-align: center;
      font-size: 14px;
      transition: border-radius 0.3s ease-in-out;

      cursor: pointer;
    }
    .mypage-search-field-title.open {
      border-radius: 10px 0 0 0px;
      transition: border-radius 0.3s ease-in-out;
    }
    .mypage-search-field-container {
      position: absolute;
      box-sizing: border-box;
      visibility: hidden;
      font-size: 14px;
      width: 100%;
      max-height: 0;
      opacity: 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;

      text-align: center;
      transition: all 0.3s ease-in-out;
      .mypage-search-field-item {
        padding: 7px 5px;
        cursor: pointer;
      }
      .mypage-search-field-item.active {
        color: var(--basic-color);
      }
      .mypage-search-field-item:hover {
        color: var(--basic-color);
      }
    }

    .mypage-search-field-container.open {
      visibility: visible;
      max-height: 300px;
      border-radius: 0px 0px 10px 10px;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }
  .mypage-search-keyword {
    .mypage-search-keyword-box {
      box-sizing: border-box;
      width: 300px;
      opacity: 1;
      padding: 7px 10px;
      border-radius: 0px 10px 10px 0px;
      border: 1px solid #ccc;
      line-height: 19px;
      font-size: 14px;
    }
  }
}
