.admin-users-card {
  user-select: none;
  .admin-users-card-link {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    .admin-users-card-photo-container {
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
    .admin-users-card-info-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .admin-users-card-info-item {
        font-size: 12px;
      }
    }
  }
}
