.admin-blocks {
  .admin-blocks-title {
    h3 {
      text-align: center;
    }
  }
  .admin-blocks-panels {
  }
  .admin-blocks-main {
    padding: 5px;
    .admin-blocks-main-table {
      border: 1px solid #ccc;
      width: 100%;

      .admin-blocks-main-table-head {
        .admin-blocks-main-table-head-tr {
          .admin-blocks-main-table-head-th {
            padding: 8px;
          }
        }
      }
      .admin-blocks-main-table-body {
        .admin-blocks-main-table-body-tr {
          .admin-blocks-main-table-body-td {
            padding: 8px;
            text-align: center;
          }
        }
      }
    }
  }
  .admin-blocks-search {
    margin-top: 10px;
    text-align: center;
    input {
      width: 200px;
      padding: 5px;
    }
  }
  .admin-blocks-pagination {
    margin-top: 10px;
    .test-pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        border: none;
        background-color: transparent;
      }
      .test-pageController {
        padding: 10px;
      }
      .test-pageNum {
        padding: 10px;
      }
      .test-pageNum.active {
        color: red;
        font-weight: bold;
        cursor: revert;
        transform: revert;
      }
      .test-pageNum:hover {
        font-weight: bold;
      }
    }
  }
}
