.plan-calendar {
  padding: 10px;
  overflow: auto;

  .plan-calendar-title {
    text-align: center;
    margin: 40px 0;
  }
  .plan-calendar-main {
    .plan-calendar-main-month {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-bottom: 25px;

      .plan-calendar-main-month-prev {
      }
      .plan-calendar-main-month-current {
      }
      .plan-calendar-main-month-next {
      }
    }
    .plan-calendar-main-calendar {
    }
  }
  .plan-calendar-btns {
    margin: 20px 0px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

    .plan-calendar-btns-btn {
      box-sizing: border-box;
      border: 1px solid var(--basic-color);
      border-radius: 10px;
      padding: 10px;
      display: flex;
      /* justify-content: space-between; */
      align-items: center;
      color: var(--basic-color);
      background-color: transparent;

      .plan-calendar-btns-btn-icon {
        height: 13px;
        padding: 0 5px 0 0;
      }

      .before {
        padding: 0 5px 0 0;
      }
      .next {
        padding: 0 0px 0 5px;
      }
    }

    .plan-calendar-btns-btn.next {
      visibility: hidden;
      max-height: 0px;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    .plan-calendar-btns-btn.next.active {
      visibility: visible;
      max-height: 100px;
      opacity: 1;
      color: #fff;
      background-color: var(--basic-color);
      transition: all 0.2s ease-in-out;
    }
  }
}
