.plan-carousel {
  width: 100%; /* 부모 컨테이너의 너비를 100%로 설정 */
  overflow: hidden;

  .plan-carousel-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;

    div {
      flex: 0 0 auto;
      width: 100%;
    }
  }
}
