.schedule-mobile {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .schedule-mobile-title {
    margin: 20px 0;
  }
  .schedule-mobile-btns {
    display: flex;
    justify-content: end;

    .schedule-mobile-btns-btn {
      box-sizing: border-box;
      padding: 10px;
      border: 1px solid var(--basic-color);
      border-radius: 10px;
      background-color: transparent;

      visibility: hidden;
      max-height: 0px;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      p {
        transform: rotate(0deg);
      }
    }

    .backward {
      visibility: visible;
      max-height: 100px;
      opacity: 1;
    }
    .update {
      border: none;
      background-color: var(--basic-color);
      color: #fff;

      visibility: visible;
      max-height: 100px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
    .submitting {
      border: none;
      background-color: var(--basic-color);
      color: #fff;

      visibility: visible;
      max-height: 100px;
      opacity: 1;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(5400000deg);
        transition: transform 100s ease-in-out;
      }
    }
  }
}
