:root {
  --basic-color: rgb(0, 206, 124);
  --basic-hover-color: rgba(0, 206, 124, 0.6);
}
.mypage {
  /* 기본 속성 제거 */
  ul,
  li,
  figure,
  img,
  textarea,
  section,
  p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
  }
  figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: initial;
  }
  a {
    text-decoration: none;
  }

  margin-top: 80px;
}

.mypage-title {
  text-align: center;
  margin: 25px 0 10px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 479px) {
  .head {
    display: none;
  }
  .chat {
    display: none;
  }

  .mypage {
    margin-top: 10px;
  }

  .mypage-header {
    display: none;
  }

  .mypage-header-chip {
    display: none;
  }
  .mypage-profile {
    display: none;
  }

  .mypage-template {
    display: none;
  }

  .mobile-mypage {
    display: block;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 480px) {
  .head {
    display: block;
  }
  .chat {
    display: none;
  }
  .mypage-title {
    display: none;
  }
  .mypage {
    margin-top: 80px;
  }
  .mypage-header {
    display: none;
  }

  .mypage-header-chip {
    display: block;
    margin-top: 100px;
  }

  .mobile-template-header {
    display: none;
  }
  .mypage-profile {
    display: none;
  }

  .mypage-template {
    display: none;
  }

  .mypage-footer-blank {
    display: none;
  }
}
