.planner-places {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .planner-places-title {
    text-align: center;
    margin: 20px 0;
  }

  .planner-places-accordian {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;

    .planner-places-accordian-title {
      display: flex;
      justify-content: space-between;
      .planner-places-accordian-title-name {
      }
      .planner-places-accordian-title-icon {
      }
    }
  }

  .planner-places-btns {
    display: flex;
    justify-content: space-between;

    .planner-places-btns-btn {
      box-sizing: border-box;
      padding: 10px;
      border: 1px solid var(--basic-color);
      border-radius: 10px;
      background-color: transparent;
      visibility: hidden;
      max-height: 0px;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      p {
        transform: rotate(0deg);
      }
    }
    .backward {
      visibility: visible;
      max-height: 100px;
      opacity: 1;
    }

    .register {
      border: none;
      background-color: var(--basic-color);
      color: #fff;

      visibility: visible;
      max-height: 100px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    .submitting {
      border: none;
      background-color: var(--basic-color);
      color: #fff;

      visibility: visible;
      max-height: 100px;
      opacity: 1;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(5400000deg);
        transition: transform 100s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (min-width: 480px) {
  .planner-places {
    display: none;
  }
}
