.mypage-template-main-table {
  border: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;

  .mypage-template-main-table-head {
    border-bottom: 1px solid #ccc;
    .mypage-template-main-table-head-tr {
      .mypage-template-main-table-head-th {
        padding: 8px;
      }
    }
  }
  .mypage-template-main-table-body {
    .mypage-template-main-table-body-tr {
      .mypage-template-main-table-body-td {
        padding: 8px;
        text-align: center;

        .mypage-template-main-table-body-td-loading-icon {
          transform-origin: 50% 50%;
          transform: rotate(360deg);
        }

        p {
          padding: 10px;
        }
      }
    }
  }
}
